/* src/pages/Transacoes/Transacoes.css */

.transacoes-container {
  padding: 20px;
}

.transacoes-container h2 {
  font-size: 1.6rem;
  color: var(--cor-primaria);
  margin-bottom: 20px;
}

.transacoes-filters {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.transacoes-filters input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.transacoes-filters select {
  width: 180px; /* Aumentado para comportar o novo seletor */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


.transacoes-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

